$text-color-info: #fff;
$text-color-success: #fff;
$text-color-warning: #fff;
$text-color-error: #fff;
$background-color-info: #0098ff;
$background-color-success: #17ca65;
$background-color-warning: #ff4800;
$background-color-error: #ec0000;
$header-background-color-info: #fff;
$header-background-color-success: #fff;
$header-background-color-warning: #fff;
$header-background-color-error: #fff;

@mixin notification($txt, $bg, $hbg) {
  &.toast {
    background: $bg;
  }
  > .toast-header {
    color: $bg;
    background-color: $hbg;
  }
  > .toast-body {
    color: $txt
  }
}

.notification-info {
  @include notification($text-color-info, $background-color-info, $header-background-color-info);
}

.notification-success {
  @include notification($text-color-success, $background-color-success, $header-background-color-success);
}

.notification-warning {
  @include notification($text-color-warning, $background-color-warning, $header-background-color-warning);
}

.notification-error {
  @include notification($text-color-error, $background-color-error, $header-background-color-error);
}

@mixin notify-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: currentColor;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  border: 2px solid;
  margin-right: 0.5rem;
}

@mixin notify-icon-pseudo {
  content: '';
  pointer-events: none;
  position: absolute;
}

.notify-icon {
  &--info {
    @include notify-icon;
    width: 30px;
    height: 22px;
    border-radius: 4px 4px 7px 7px;
    border-bottom-color: transparent;

    &:before {
      @include notify-icon-pseudo;
      width: 6px;
      height: 6px;
      border-width: 0 0 2px 2px;
      border-style: solid;
      transform: rotate(-45deg);
      bottom: -3px;
      left: 6px;
    }
    &:after {
      @include notify-icon-pseudo;
      width: 26px;
      height: 2px;
      border-width: 0 14px 0 6px;
      border-style: solid;
      bottom: 0;
      left: 0;
    }
  }

  &--success {
    @include notify-icon;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    &:before {
      @include notify-icon-pseudo;
      border-radius: 50%;
      box-shadow: 8px 0 0 0, 0 0 0 2px inset;
      height: 3px;
      width: 3px;
      left: 6px;
      top: 29%;
    }
    &:after {
      @include notify-icon-pseudo;
      border-radius: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transform-origin: center 85%;
      transform-origin: center 85%;
      border: 2px solid;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      height: 16px;
      left: 50%;
      top: 6%;
      width: 16px;
    }
  }

  &--warning {
    @include notify-icon;
    border: none;
    overflow: visible;
    width: 30px;
    border-bottom: 2px solid;
    border-radius: 0 0 4px 4px;
    margin-top: 1.5rem;

    &:before {
      @include notify-icon-pseudo;
      width: 28px;
      height: 28px;
      left: 1px;
      top: -14px;
      border-width: 2px 0 0 2px;
      border-style: solid;
      border-radius: 4px 0;
      -webkit-transform: rotate(45deg) skew(12deg, 12deg);
      transform: rotate(45deg) skew(12deg, 12deg)
    }
    &:after {
      @include notify-icon-pseudo;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 4px;
      height: 3px;
      top: -14px;
      box-shadow: inset 0 0 0 32px, 0 3px, 0 8px;
    }
  }

  &--error {
    @include notify-icon;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    &:before {
      @include notify-icon-pseudo;
      border-radius: 50%;
      box-shadow: 8px 0 0 0, 0 0 0 2px inset;
      height: 3px;
      width: 3px;
      left: 6px;
      top: 29%;
    }
    &:after {
      @include notify-icon-pseudo;
      border-radius: 50%;
      -webkit-transform: translateX(-50%) rotate(180deg);
      transform: translateX(-50%) rotate(180deg);
      -webkit-transform-origin: center 85%;
      transform-origin: center 85%;
      border: 2px solid;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      height: 16px;
      left: 50%;
      top: 6%;
      width: 16px;
    }
  }
}